<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Delet Book</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="container">
         <h1>Delete Book</h1>
    <form method="POST" action="/delete" >
        <label for="title">Enter ID to delete</label>
        <input type="text" id="id" name="id"><br><br>    
        
        <button type="submit">Delete Book</button>
    </form>
    </div>
    </body>
    </html>